
/* Mostly Homepage Stuff */
/* Header*/
header {
    position: fixed;
    left: 4vw;
    top: 0;
    z-index: 10;
    background-color: white;
    width: 100%;
    height: 20%;
}

div.header {
    background-color: white;
    margin-top: 3.5vw;
}
/* Body */
body.b {
    margin-top: 200px;
    margin-right: 40vw;
    margin-left: 15vw;
}
/* Single job bio section */
section.job-intro {
    margin-top: 5vw;
    padding-bottom: 5vh;
    width: 60vw;
}
section.job-intro:hover {
    background-color: rgba(211, 217, 227, 0.2);
    outline-style: solid;
    border-radius: 4pt;
    outline-color: rgba(211, 217, 227, 0.2);
}
/* Section containing multiple skills */
section.skills{
    margin-top: 3vw;
}
/* For aligning date (LHS) andRHS blocks */
section.job-topline {
    margin-top: 2vw;
    margin-left: 1vw;
    display: inline-block;
    vertical-align: text-top;
}
/* Job description RHS (title, company, blurb, skills) section */
section.job-rhs {
    margin-left: 5vw;
    text-align: left !important;
    width: 40vh;
}
/* Section contaning all job intros */
section.intros {
    margin-top: 3vw;
}
/* General links */
a { 
    color: inherit; 
    text-decoration: none;
} 
/* Header Navigation Buttons */
a.nav-button {
    font-family:  monospace;
    padding: 2vw;
}
a.nav-button:hover {
    text-decoration: underline;
    text-decoration-color: darkorange;
    text-decoration-thickness: 3px;
    text-underline-offset: 7px;
}
a.nav-button:active {
    text-decoration: underline;
    text-decoration-color: darkorange;
    text-decoration-thickness: 3px;
    text-underline-offset: 7px;
}
/* Home Button*/
a.home-button {
    font-family:  monospace;
    margin-left: 2vw;
}
/* Heading Text Style */
h2 {
    font-family:  monospace;
    font-size: 40px;
}
/* Paragraph Text Style */
p.big-blocks-of-text {
    font-family: monospace;
}
div.job-date{
    font-family: monospace;
    color: dimgray;
}
div.job-title {
    font-family: monospace;
    font-size: 20px;
    font-weight: bold;
}
div.job-company {
    font-family: monospace;
    color: dimgray;
}
div.job-blurb {
    font-family: monospace;
    margin-top: 2vw;
}
div.skill {
    font-family: monospace;
    display: inline-block;
    margin-top: 1.5vh;
    margin-right: 2vh;
    outline-style: solid;
    border-radius: 4pt;
    outline-color: darkorange;
    background-color: darkorange;
    padding-top: 0.25vh;
    padding-bottom: 0.25vh;
    padding-left: 1vh;
    padding-right: 1vh;
}

/* Most all projects page stuff */
div.project-year {
    font-family: monospace;
    color: dimgray;
}
div.project-name {
    font-family: monospace;
    font-size: 14px;
    font-weight: bold;
    height: 28px;
}
div.project-description {
    font-family: monospace;
}
img.project-page-image {
    border-radius: 2px;
    max-width: 35vh;
    height: auto;
    margin-top: 1vh;
}
body.projects-body {
    margin: 0;
}
section.p_intros {
    margin-top: 15vh;
    margin-left: 3vw;
    margin-bottom: 5vh;
}
section.project-intro:hover {
    background-color: rgba(211, 217, 227, 0.2);
    outline-style: solid;
    border-radius: 4pt;
    outline-color: rgba(211, 217, 227, 0.2);
    cursor: pointer;
}
section.project-intro {
    margin-top: 5vw;
    margin-left: 3vw;
    display: inline-block;
    width:35vh;
    height: auto;
    vertical-align: text-top;
    outline-style: solid;
    border-radius: 4pt;
    outline-color: rgba(211, 217, 227, 0.2);
    padding: 1vh;
}
div.skill-projects {
    font-family: monospace;
    font-size: 10px;
    display: inline-block;
    margin-top: 1vh;
    margin-right: 1vh;
    outline-style: solid;
    border-radius: 4pt;
    outline-color: darkorange;
    background-color: darkorange;
    padding-top: 0.25vh;
    padding-bottom: 0.25vh;
    padding-left: 1vh;
    padding-right: 1vh;
}
/* Section containing multiple skills */
section.skills-projects{
    margin-top: 1vw;
}

/* Project Modal */
div.project-modal {
    display: none;
    position: fixed; /* Stay in place */
    height: 100%;
    width:100%;
    top:0;
    overflow: auto;
    z-index: +10;
}

div.project-container {
    width: 60%;
    height: auto;
    overflow: auto;
    z-index: +15;
    margin-left:20vw;
    margin-right:20vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border-radius: 15px;
    background-color: white;
}

div.project-title {
    margin-top: 2vw;
    font-family: monospace;
    margin-left: 3vw;
    font-size: 18px;
    font-weight: bold;
}
div.project-date {
    font-family: monospace;
    margin-left: 3vw;
    color: dimgray;
}
div.project-background {
    margin-top: 2vw;
    font-family: monospace;
    margin-left: 3vw;
    margin-right: 4vw;
    font-size: 12px;
    line-height: 1.25;
    margin-bottom: 4vh;
}
img.cave-poster {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%
}

img.cave-schematic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%
}

img.eqn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%
}
img.survey {
    width: 33%;
    display: inline-block;
}
img.dyno {
    width: 49%;
    display: inline-block;
}
a.embedded-link {
    color: blue; 
    text-decoration: dashed;
    font-family: monospace;
}

a.github-link { 
    color: blue; 
    text-decoration: dashed;
    font-family: monospace;
    margin-left: 3vw; 
} 
div.link {
    margin-bottom: 5vh;
}

/* The Close Button */
span.closeProject {
    position: absolute;
    top: 6vh;
    right: 21vw;
    color: black;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
}
span.closeProject:hover,
span.closeProject:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

div#caveModal {
    background-color: rgba(0,0,0,0.9); 
}
div#dynoModal {
    background-color: rgba(0,0,0,0.9); 
}
div#canModal {
    background-color: rgba(0,0,0,0.9); 
}
div#licenseModal {
    background-color: rgba(0,0,0,0.9); 
}
div#doubleModal {
    background-color: rgba(0,0,0,0.9); 
}
div#robotModal {
    background-color: rgba(0,0,0,0.9); 
}
div#ligoModal {
    background-color: rgba(0,0,0,0.9); 
}
div#websiteModal {
    background-color: rgba(0,0,0,0.9); 
    
}

/** Photography Page` **/

img.photo_single {
    max-width: 16.5vw;
}
img.photo_double {
    max-width: 33.3vw;
}
img.photo_single:hover {
    opacity: 0.7;
    cursor: pointer;
}
img.photo_double:hover {
    opacity: 0.7;
    cursor: pointer;
}

img#modal-image {
    position: absolute;
    /* height: auto; */
    display: block;
    height: 80%;
}
/* Modal */
div#myModal {
    display: none;
    position: fixed; /* Stay in place */
    height: 100%;
    width:100%;
    top:0;
    overflow: auto;
    z-index: +10;
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
div#modal-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50vh;
}
/* The Close Button */
span.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
}
span.close:hover,
span.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
p#caption {
    color:white;
    font-size: 14px;
    font-family: monospace;
    text-align: center;
}
div.text {
    font-size: 12px;
    font-family: monospace;
    text-align: center;
    position: absolute;
    margin: auto;
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 100%;
}
div.caption-box {
    position: absolute;
    margin: auto;
    margin-top: 39vh;
    width: 100%;
    z-index: +20;
}
/* Photo grid layout details */
section.photo-grid {
    margin-top: 22vh;
    margin-left: 7.5vw;
}
div.photo-col1 {
    position: absolute;
    text-align: left;
    left: 7.5vw;
}
div.photo-col2 {
    position: absolute;
    text-align: left;
    left: 24.3vw;
}
div.photo-col3 {
    position: absolute;
    text-align: left;
    left: 41.1vw;
}
div.photo-col4 {
    position: absolute;
    text-align: left;
    left: 57.9vw;
}
div.photo-col5 {
    position: absolute;
    text-align: left;
    left: 74.7vw;
}

/* Resume Page */
body.resume-body {
    width: 60%;
    margin: auto;
    margin-top: 20vh;
}

object.resume {
    height: 80vh;
}

/* About Page */

p.bio-text {
    font-family: monospace;
    font-size: 12px;
}

div.bio {
    width: 80%;
}

body.body-about {
    margin-top: 22vh;
    margin-right: 11vw;
    margin-left: 10vw;   
}

img.about-pic {
    height:35vh;
    width: auto;
    display: inline-block;
    vertical-align: top;
    margin-top: 2vh;
}