
/* Section Properties */
/* Header*/
header {
    position: fixed;
    left: 6vw;
    top: 4vw;
    z-index: 10;
    /* background-color: white; */
}

/* Body */
body.b {
    margin-top: 20vw;
    margin-right: 25vw;
    margin-left: 15vw;
}

/* Single job bio section */
section.job-intro {
    margin-top: 5vw;
    padding-bottom: 5vh;
    width: 60vw;
}
section.job-intro:hover {
    background-color: rgba(211, 217, 227, 0.2);
    outline-style: solid;
    border-radius: 4pt;
    outline-color: rgba(211, 217, 227, 0.2);
}

/* Section containing multiple skills */
section.skills{
    margin-top: 3vw;
}

/* For aligning date (LHS) andRHS blocks */
section.job-topline {
    margin-top: 2vw;
    margin-left: 1vw;
    display: inline-block;
    vertical-align: text-top;
}

/* Job description RHS (title, company, blurb, skills) section */
section.job-rhs {
    margin-left: 5vw;
    text-align: left !important;
    width: 40vh;
}

/* Section contaning all job intros */
section.intros {
    margin-top: 3vw;
}


/* General links */
a { 
    color: inherit; 
    text-decoration: none;
} 

/* Header Navigation Buttons */
a.nav-button {
    font-family:  monospace;
    padding: 2vw;
}
a.nav-button:hover {
    text-decoration: underline;
    text-decoration-color: darkorange;
    text-decoration-thickness: 3px;
    text-underline-offset: 7px;
}
a.nav-button:active {
    text-decoration: underline;
    text-decoration-color: darkorange;
    text-decoration-thickness: 3px;
    text-underline-offset: 7px;
}

/* Home Button*/
a.home-button {
    font-family:  monospace;
    margin-left: 2vw;
}

/* Heading Text Style */
h2 {
    font-family:  monospace;
    font-size: 40px;
}

/* Paragraph Text Style */
p.big-blocks-of-text {
    font-family: monospace;
}

div.job-date{
    font-family: monospace;
    color: dimgray;
}

div.job-title {
    font-family: monospace;
    font-size: 20px;
    font-weight: bold;
}

div.job-company {
    font-family: monospace;
    color: dimgray;
}

div.job-blurb {
    font-family: monospace;
    margin-top: 2vw;
}

div.skill {
    font-family: monospace;
    display: inline-block;
    margin-top: 1.5vh;
    margin-right: 2vh;
    outline-style: solid;
    border-radius: 4pt;
    outline-color: darkorange;
    background-color: darkorange;
    padding-top: 0.25vh;
    padding-bottom: 0.25vh;
    padding-left: 1vh;
    padding-right: 1vh;
}

div.project-year {
    font-family: monospace;
    color: dimgray;
}

div.project-name {
    font-family: monospace;
    font-size: 14px;
    font-weight: bold;
}

div.project-description {
    font-family: monospace;
}

img.project-page-image {
    border-radius: 2px;
    max-width: 30vh;
    height: auto;
    margin-top: 1vh;
}

body.projects-body {
    margin: 0;
}
section.p_intros {
    margin-top: 15vh;
    margin-left: 7vw;
}

section.project-intro:hover {
    background-color: rgba(211, 217, 227, 0.2);
    outline-style: solid;
    border-radius: 4pt;
    outline-color: rgba(211, 217, 227, 0.2);
}
section.project-intro {
    margin-top: 5vw;
    margin-left: 3vw;
    display: inline-block;
    width:30vh;
    height: auto;
    vertical-align: text-top;
    outline-style: solid;
    border-radius: 4pt;
    outline-color: rgba(211, 217, 227, 0.2);
    padding: 1vh;
}

div.skill-projects {
    font-family: monospace;
    font-size: 10px;
    display: inline-block;
    margin-top: 1vh;
    margin-right: 1vh;
    outline-style: solid;
    border-radius: 4pt;
    outline-color: darkorange;
    background-color: darkorange;
    padding-top: 0.25vh;
    padding-bottom: 0.25vh;
    padding-left: 1vh;
    padding-right: 1vh;
}

/* Section containing multiple skills */
section.skills-projects{
    margin-top: 1vw;
}

